flows.json
[{"id":"a76ed0b2.7a7a98","type":"tab","label":"react on ioBroker data","disabled":false,"info":""},{"id":"26536a93.7fe71e","type":"tab","label":"Inject to ioBroker","disabled":false,"info":""},{"id":"4b219777.a1aa08","type":"tab","label":"HomeKit Test","disabled":false,"info":""},{"id":"6f4dcfe3.19ea88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9224fe6b.2a77e8","type":"homekit-accessory","z":"","accessoryName":"Relay One","pinCode":"222-22-222","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"8"},{"id":"b6b07051.0534b","type":"ui_tab","z":"","name":"HomeKit Lab","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"db8acd9c.520748","type":"ui_group","name":"Group 1","tab":"b6b07051.0534b","order":1,"disp":true,"width":6},{"id":"2d53f9ea.ef625e","type":"homekit-accessory","z":"","accessoryName":"Thermostat","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"9"},{"id":"a7071e15.77515","type":"ioBroker in","z":"a76ed0b2.7a7a98","name":"Dieselpreis","topic":"tankerkoenig.0.stations.0.diesel.short","payloadType":"value","onlyack":true,"func":"deadband","gap":"10%","x":160,"y":120,"wires":[["d43eb155.6c5698","236573d9.7a8e74"]]},{"id":"d43eb155.6c5698","type":"debug","z":"a76ed0b2.7a7a98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":120,"wires":[]},{"id":"72197e87.565c7","type":"ioBroker out","z":"26536a93.7fe71e","name":"timestamp","topic":"node-red.0.test.nodered","ack":"true","autoCreate":"true","x":490,"y":140,"wires":[]},{"id":"5a9ece09.3de06","type":"inject","z":"26536a93.7fe71e","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"60","x":170,"y":140,"wires":[["72197e87.565c7","1da2aa2d.e1f806"]]},{"id":"236573d9.7a8e74","type":"template","z":"a76ed0b2.7a7a98","name":"Build Rocket Bot Request Body","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"icon_emoji\":\":ghost:\",\n    \"text\":\"{{payload}}\",\n    \"attachments\":[\n        {\n            \"title\":\"Tankerkönig\",\n            \"title_link\":\"http://tankerkoenig.de/index-tk-price-search.php\",\n            \"text\":\"Rocket.Chat, the best open source chat\",\n            \"image_url\":\"/images/integration-attachment-example.png\",\n            \"color\":\"#00aa00\"\n            \n        }\n    ]\n}","output":"json","x":410,"y":240,"wires":[["d31d4902.bf6ce"]]},{"id":"d31d4902.bf6ce","type":"debug","z":"a76ed0b2.7a7a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":240,"wires":[]},{"id":"5f29a657.0d548","type":"homekit-service","z":"4b219777.a1aa08","accessory":"9224fe6b.2a77e8","name":"Schalter 1","serviceName":"Switch","x":190,"y":180,"wires":[["91595a7f.c636a8","2315bdfe.f8628a"]]},{"id":"91595a7f.c636a8","type":"function","z":"4b219777.a1aa08","name":"relay","func":"if (msg.payload.On===true)\n    msg.payload=1;\nelse \n    msg.payload=0;\nreturn msg;","outputs":3,"noerr":0,"x":370,"y":180,"wires":[["7c3d95c6.f443d4"],[],["ebfecbd8.d78f7"]]},{"id":"e7a0270b.171328","type":"homekit-service","z":"4b219777.a1aa08","accessory":"2d53f9ea.ef625e","name":"Temp.","serviceName":"TemperatureSensor","x":670,"y":340,"wires":[[]]},{"id":"8dc79895.a38be","type":"function","z":"4b219777.a1aa08","name":"random temperature","func":"str=msg.payload;\nmsg.payload={\n    CurrentTemperature: 10.0\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["e7a0270b.171328"]]},{"id":"44bb5fc7.3f48f","type":"inject","z":"4b219777.a1aa08","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":190,"y":340,"wires":[["8dc79895.a38be"]]},{"id":"ebfecbd8.d78f7","type":"ui_switch","z":"4b219777.a1aa08","name":"","label":"switch","tooltip":"","group":"db8acd9c.520748","order":0,"width":"3","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":570,"y":240,"wires":[[]]},{"id":"7c3d95c6.f443d4","type":"debug","z":"4b219777.a1aa08","name":"Relay One debug output","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":630,"y":120,"wires":[]},{"id":"2315bdfe.f8628a","type":"debug","z":"4b219777.a1aa08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":240,"wires":[]},{"id":"1da2aa2d.e1f806","type":"simpletime","z":"26536a93.7fe71e","name":"","x":390,"y":240,"wires":[["24b81b1d.869a5c"]]},{"id":"24b81b1d.869a5c","type":"debug","z":"26536a93.7fe71e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":260,"wires":[]}]